{% extends 'layouts/b_layout.html' %}

{% block content %}
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <h1>Signup</h1>
              <p class="text-muted">Create a account for Strike</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <button  type="submit" class="btn btn-secondary mt-2">Welcome Onboard</button>
                </form>

            </div>
          </div>
          <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Already have an account?Login now!</p>
                <a type="button" class="btn btn-primary active mt-3">Login Now!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}