{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" height="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="background-image: none;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="{{ user.profile.avatar }}" class="rounded-circle mr-1" alt="{{ user.get_name }}" width="40" height="40">
        </a>
   <div class="dropdown-menu  dropdown-menu-left">
    <a href="{% url 'chatroom' 'public-chat' %}" class="dropdown-item" type="button">Public Chatroom</a>
    <a href="{% url 'group-create' %}" class="dropdown-item" type="button">Group Chat</a>
    <a href="{% url 'profile' %}" class="dropdown-item" type="button">Profile</a>
    <a href="{% url 'user-search' %}" class="dropdown-item" type="button">Find User</a>
    <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</button>
  </div>

    </ul>
    </div>
  </div>
  </div>
</nav>