body{
    margin-top:20px;
    padding:20px;
    background-color: #1E201E;
}

nav {
    background-color: red;
    position: relative; /* or 'sticky' if needed */
    z-index: 10; /* Ensure nav is on top */
}

