{% extends 'layouts/a_layout.html' %}
{% load static %}
{% block css %}
    <link type="text/css" href="{% static 'css/group.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="container mt-5">
        <div class="card">
            <div class="card-header text-white text-center">
                {{ groupchat_name}}
            </div>
            <div class="card-body text-center">
                <p>Joining Request Sent</p>
                <a href="{% url 'home' %}" type="submit" class="btn btn-secondary">Back to Home</a>
            </div>
        </div>
    </div>

{% endblock content %}